useDynLib(linelistBayes, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(lubridate, is.Date)
importFrom(lubridate, wday)
importFrom(coda, geweke.diag)
importFrom(magrittr, "%>%")
importFrom(dplyr, group_by)
importFrom(dplyr, mutate)
importFrom(dplyr, summarize)
importFrom(dplyr, n)
S3method(plot,backnow)
exportPattern("^[[:alpha:]]+")
